.planning-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.planning-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.planning-header button {
  padding: 6px 12px;
  border: none;
  background: var(--color-button-hover);
  color: var(--color-bg);
  cursor: pointer;
  border-radius: 5px;
}

.planning-table {
  border-collapse: collapse;
  width: 100%;
}

.planning-table th,
.planning-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.firefighter {
  font-weight: bold;
  background: var(--color-bgheader);
}

.cell {
  font-size: 20px;
  font-weight: bold;
}

.available {
  background-color: #c8e6c9;
}

.on-call {
  background-color: #fff9c4;
}

.unavailable {
  background-color: #ffcdd2;
}

.color-box {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 6px;
  border: 1px solid #999;
}

.legende {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-weight: bold;
  font-size: 16px;
}

.legende-item {
  display: flex;
  align-items: center;
}



/* Inventaire */
.inventory-card {
  margin-top: 2rem;
  padding: 1.5rem;
  background: var(--color-bg);
  border-radius: 14px;
  box-shadow: var(--shadow-box);
}

.inventory-card h3 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-black);
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table thead {
  background: var(--color-button-hover);
  color: var(--color-bg);
}

.inventory-table th,
.inventory-table td {
  padding: 0.9rem 1rem;
  text-align: left;
}

.inventory-table tbody tr {
  border-bottom: 1px solid #eaeaea;
}

.inventory-table tbody tr:hover {
  background-color: #f5f9ff;
}

.vehicle-type {
  font-weight: 600;
  color: var(--color-black);
}

.count {
  font-weight: bold;
  color: var(--color-button-hover);
}
