.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.links a {
  margin: 0 20px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.auth-btn {
  background-color: #4b561f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}
