
.site-footer {
  width: 100%;
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  background-color: var(--color-bgheader);
  border-radius: var(--radius-md);
}


.footer-tabs {
  display: flex;
  gap: var(--space-md);
  flex-wrap: wrap;
}

.footer-tab {
  background: none;
  border: none;
  padding: var(--space-xs) 0;
  cursor: pointer;
  position: relative;

  color: var(--color-footer);
  transition: color 0.2s ease;
}

.footer-tab:hover,
.footer-tab.is-active {
  color: var(--color-text);
}

.footer-tab.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: currentColor;
}

.footer-content {
  margin-left: var(--space-xs);
}

.footer-content ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.footer-meta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-xs);

  font-size: var(--text-xs);
  color: var(--color-footer);
}


@media (max-width: 600px) {
  .footer-meta {
    flex-direction: column;
    align-items: flex-start;
  }
}
