/* conteneur de la carte */
#alert-map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden; /* important pour que border-radius fonctionne */
}

.leaflet-container {
  height: 100%;
  border-radius: 8px;
}