<app-tablet>
  <div class="planning-container">

    <div class="planning-header">
      <button (click)="previousWeek()">◀ Semaine précédente</button>
      <h2>Semaine {{ nbWeek }}</h2>
      <button (click)="nextWeek()">Semaine suivante ▶</button>
    </div>

    <table class="planning-table">
      <thead>
      <tr>
        @for (day of days; track day) {
          <th>{{ day }}</th>
        }
      </tr>
      </thead>

      <tbody>
      <tr>
        @for (day of days; track day) {
          <td
            class="cell"
            [class.available]="getStatus(day) === 'available'"
            [class.on-call]="getStatus(day) === 'on-call'"
            [class.unavailable]="getStatus(day) === 'unavailable'"
          >
          </td>
        }
      </tr>
      </tbody>
    </table>

    <div class="legende">
      <div class="legende-item">
        <span class="color-box available"></span> De garde
      </div>
      <div class="legende-item">
        <span class="color-box on-call"></span> Astreinte
      </div>
      <div class="legende-item">
        <span class="color-box unavailable"></span> Indisponible
      </div>
    </div>


  </div>

</app-tablet>
