<app-tablet>
  <div class="planning-container">
    <div class="planning-header">
      <button (click)="previous.emit()">◀ Semaine précédente</button>
      <h2>Semaine {{ nbWeek }}</h2>
      <button (click)="next.emit()">Semaine suivante ▶</button>
    </div>

    <table class="planning-table">
      <thead>
        <tr>
          @for (day of days; track day) {
          <th>
            <div class="th-content">
              {{ day | DayPipe }}
            </div>
          </th>
          }
        </tr>
      </thead>

      <tbody>
        <tr>
          @for (day of days; track day) {
          <td
            class="cell"
            [class.on-call]="getStatus(day) === 'ON_SHIFT'"
            [class.unavailable]="getStatus(day) === 'OFF_SHIFT'"
            [class.available]="getStatus(day) === 'AVAILABLE'"
          ></td>
          }
        </tr>
      </tbody>
    </table>

    <div class="legende">
      <div class="legende-item"><span class="color-box available"></span> Disponible</div>
      <div class="legende-item"><span class="color-box on-call"></span> Astreinte</div>
      <div class="legende-item"><span class="color-box unavailable"></span> Indisponible</div>
    </div>

    <div class="inventory-card">
      <h3>Inventaire des véhicules</h3>

      <table class="inventory-table">
        <thead>
          <tr>
            <th>Véhicule</th>
            <th>Disponibilité</th>
          </tr>
        </thead>

        <tbody>
          @for (item of inventory | async; track item.id) {
          <tr>
            <td class="vehicle-type">
              {{ item.type | vehicleTypeLabel }}
            </td>
            <td>
              <span class="count"> {{ item.availableCount }} / {{ item.totalCount }} </span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</app-tablet>
