<div class="admin-tabs-wrapper">
  <div class="admin-tabs">

    @if (canAccessUsers()) {
      <button
        class="admin-tab"
        [class.active]="activeTab === 'users'"
        (click)="activeTab = 'users'">
        Utilisateurs
      </button>
    }

    @if (canAccessStations()) {
      <button
        class="admin-tab"
        [class.active]="activeTab === 'stations'"
        (click)="activeTab = 'stations'">
        Casernes
      </button>
    }

    @if (canAccessAlerts()) {
      <button
        class="admin-tab"
        [class.active]="activeTab === 'alerts'"
        (click)="activeTab = 'alerts'">
        Alertes
      </button>
    }

  </div>
</div>

<div class="admin-tab-content">

  @if (activeTab === 'users' && canAccessUsers()) {
    <app-user-manager />
  }

  @if (activeTab === 'stations' && canAccessStations()) {
    <app-station-manager />
  }

  @if (activeTab === 'alerts' && canAccessAlerts()) {
    <app-alert-manager />
  }

</div>


@if (
  !canAccessUsers() &&
  !canAccessStations() &&
  !canAccessAlerts()
  ) {
  <div class="empty-state">
    <p>Vous n’avez pas accès à l’administration.</p>
  </div>
}
